#preface-top
  .royalSlider.rsDefault
    - @slides.each do |slide|
      %div
        = image_tag slide.slide(:slide), :class => 'rsImg'
        -if current_admin
          %td= link_to 'Ver', slide
          %td= link_to 'Editar', edit_slide_path(slide)
          %td= link_to 'Eliminar', slide, :confirm => 'Are you sure?', :method => :delete
