/*
=============================================================
MAIN STRUCTURE
=============================================================
*/

/*
body ul, body ol, body footer nav li,
html body footer nav,
html body footer .copyright,
.navigation li, header nav li{padding:0; margin:0}
.typography p, .content p, section[role="main"] > article p{margin-top:0} */

body{
  background: url(../images/backgrounds/bg-fuchsia.jpg) repeat;
  @include blueprint-debug;
  font-family:$font-primary;
  color: white;
  p.notice {
    background: $color-secondary;
    text-align: center;
    padding: $space * 10;
    color: $color-fuchsia;
    font-size: $size-big;
  }
  .wrapper {
    @include container;
    /*  @include showgrid; */
  }

  header {
    width: 100%;

    height : $header-size;
    //background: $bg-header;
    .wrapper {
      background: $bg-shadow;
      @include container;
      height : $header-size;
      h1.site-name { float: left; }
      ul.menu {
        text-align: right;
        float: right;
        margin-top: $space*5;
        li {
          display: inline;
          margin-left: $space * 3;
        }
      }
      h1 {
        margin-top: $space*5;
        span {
          display: none;
        }
        a {

        }
      }
    }

  }

  .main-menu {
    padding: $main-menu-height;
  }
  footer {
    width: 100%;
    margin-top: $space*20;
    padding-bottom: $space*20;
    .inner {
      @include container;
      #social-links {
        @include span(6);
        float: left;
      }
      #author {
      float: right;
      }
    }
  }
}

.region {
  width: 100%;
  margin: 0 auto;
  padding-bottom: $space * 4;
  margin-top: $space * 4;

  h3.title {
    color: white;
    font-size: $size-big;
    padding: $space * 4;
    background: $bg-shadow;
    text-align: center;
    margin-bottom: $space * 4;
  }
  .confirmar {
    float: left;
    width: 60%;
    @include paragraph;
    b {
      font-size: $size-big;
    }
  }
  .fecha {
    float: right;
    width: 40%;
    font-size: $size-huge;
    color: white;
    text-align: right;
  }
  .mapa {
    margin-top: $space *4;
  }
  .direccion {
    @include paragraph;
  }
  .codigo {
    color: $color-secondary;
    font-size: $size-big;
    b {
      font-size: $size-big-as-hell;
    }
    text-align: center;
    padding: $space * 12;
   }
   .telefonos {
     @include paragraph;
     float: left;
   }
   .correo {
     font-size: $size-big;
     color: $color-secondary;
     float: right;
     margin-top: $space *4;
   }
}

.region:after {
  content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;
}
.region {
  zoom:1
}

a {
  color:$color;
  text-decoration:none;
}

p, li {
  @include paragraph;
}








#laposta-description {
  @include tcenter;
  margin:0 0 $laposta-description * 2;
  border-top: 55px solid white;
  .content {
    display: inline;
    p {
      display: inline;
    }
  }
}

.crud {position: relative; z-index: 100}



#home-top {display: none}
#menu-dinamico {
  position: fixed;
  top:-200px;
  width: 100%;
  background: white;
  padding: $space*3 0;
  z-index: 200;
  border-bottom: 3px solid $color-gray;
  #home-top {
    @include inline-block-(left);
  }
}

#portafolio-botones a,
.menu a{-moz-transition: all 0.3s ease-in; -webkit-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in; transition: all 0.3s ease-in}

#portafolio-botones a:hover,
.menu a:hover,
.active {color: $color-secondary;}


#likes iframe{width: 100% !important}

  .custom-bg .foobar-container {
    background:#6C9E00 !important;
  }

  .foobar-message-wrapper {
    font-family: $font-primary !important;
    color: white !important;
    font-weight: lighter !important;
  }
