%ul.menu
  %li
    = link_to  '¿Preguntas?', 'javascript:$.scrollTo("#preguntas",800);'
  %li
    = link_to  '¿Cómo llegar?', 'javascript:$.scrollTo("#como-llegar",800);'
  %li
    = link_to '¿Qué acontecerá?', 'javascript:$.scrollTo("#que-acontecera",800);'

